.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5px; /* Espacio debajo del header */

}

.titulo{
  font-size: 80px;
  color: rgb(152, 243, 255);

}

.cuerpo {
  display: flex;
  justify-content: space-between; /* Añade espacio entre el calendario y los horarios */
  padding: 20px;
  background-color: rgba(172, 210, 235, 0.315);
}
.selected {
  background-color: rgba(0, 0, 255, 0.2); /* Sombras azul con opacidad */
  border-radius: 50%;
}


.calendar-container, 

.time-slots-container {
  overflow-y: auto; /* Permite el scroll si es necesario */
  max-height: 600px; /* Ajusta según la altura del calendario */
}

.App-link {
  color: #61dafb;
}

.time-slots {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea tres columnas */
  grid-gap: 10px; /* Espacio entre los slots */
}
.time-slot {
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc; /* Borde para hacerlos más visibles */
}

.time-slot:hover {
  background-color: #e0e0e0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
